<% if !@job.persisted? %>
	<h4 class="subtitle is-4">Payment</h4>

	<div class="notification is-light has-text-centered">
		<i class="fa fa-credit-card"></i>
		All jobs cost <strong>$300</strong> US for 30 days.
		<span class="block mb4"></span>
	</div>

	
<% end %>